<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.bstu.fit.alexsandrova.projectbd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".CookBookApp"
        android:allowBackup="true"
        android:icon="@drawable/cookbook"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity"></activity>

        <service
            android:name=".Services.Synchronizer"
            android:exported="false" />

        <activity android:name=".AddActivity.AddProductActivity" />
        <activity android:name=".HelpfulActivity.LifeHackActivity" />
        <activity android:name=".HelpfulActivity.TimerActivity" />
        <activity android:name=".CategorieActivity.CategoryActivity" />
        <activity android:name=".ResipeActivity.ResipeActivity" />
        <activity android:name=".CategorieActivity.CategorieResipeActivity" />
        <activity android:name=".ResipeActivity.AllResipeActivity" />
        <activity android:name=".ResipeActivity.WatchResipeActivity" />
        <activity android:name=".AddActivity.AddResipeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".Database.DbProvider"
            android:authorities="by.bstu.fit.alexsandrova.bdproject.providers.ContentnProvider" />
    </application>

</manifest>